.bg-2 {
    background-color: #F496D1;
}

.hot {
    background-color: red;
    display: inline;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: -20px;
    right: 20px;
}

footer {
    height: 100%;
}

@media screen and (max-width:576px) {
    .footer {
        flex-direction: column-reverse;
        line-height: 50px;
        justify-content: center;
    }
}